/*GENERAL*/

body {
  background-color: whitesmoke;
  color: black;
}

h1 {
  text-align: center;
  color: black;
  font-size: 45px;
  font-family: "Open Sans", sans-serif;
}

.covid-header{
    padding-bottom: 50px;
}

.menu {
  background-color: #8F403B;
  color: whitesmoke;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 14px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  right: 30px;
}

.menu-items {
  display: none;
  position: absolute;
  border-radius: 14px;
  background-color: #8F403B;
  min-width: 160px;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  right: 20px;
}

.menu-items a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-items a:hover {
  background-color: #e4e3e8;
}

.navigation-button:hover .menu-items {
  display: block;
}

.navigation-button:hover .menu {
  background-color: rgb(41, 33, 33);
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: wavy;
}

a:visited {
  color: black;
}

.logo {
  height: 500px;
  overflow: hidden;
  /* margin-top: -6px; */
  z-index: 4;
  position: fixed;
  top: 10px;
  left: 170px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*HOMEPAGE*/

.logo-image {
  margin-left: 15px;
}

.banner-home {
  height: 150px;
  background-color: #24222a;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.home-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: #e4e3e8;
  padding: 40px;
  margin: 20px;
}

.home-box {
  border-radius: 10px;
  background: white;
  padding: 8px;
  width: 200px;
  margin: 20px;
  text-align: center;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.tracker-img {
  width: 275px;
  margin-top: 50px;
  margin-bottom: 58px;
}

.stay-safe-img {
  width: 250px;
  margin-bottom: 5px;
}

.volunteer-img {
  width: 240px;
  margin-bottom: 50px;
  margin-top: 25px;
}

/*TRACK COVID PAGE*/

.banner {
  height: 150px;
  background-color: #24222a;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.menu {
  margin-right: 35px;
}

.track-pg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  margin-top: 10px;
}

.track-container {
  background-color: #e4e3e8;
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 65px;
  border-radius: 10px;
}

.world-img {
  margin-top: 15px;
  width: 800px;
}

.covid-tracker {
  border-radius: 10px;
  background: white;
  box-shadow: 1px 1px darkgrey, -1em 0 0.9em grey;
  padding: 20px;
  color: black;
  width: 500px;
  height: 100%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-flow: column;
}

/*STAY SAFE PAGE*/

.prevent-covid {
  background-color: #e4e3e8;
  padding: 20px;
  font-size: 20px;
  width: 400px;
  border-radius: 10px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stay-safe-container {
  border-radius: 10px;
  /* box-shadow: 3px 3px darkgrey, -1em 0 0.4em grey; */
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  color: black;
  /* width: 1600px; */
  height: 100%;
  margin: 0 auto;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
}

.safety-heading {
  color: #c94a40;
  font-weight: 900;
  font-size: 25px;
}

.count-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 150px;
}

.wash-hands {
  width: 200px;
  margin-top: 25px;
}

.close-contact {
  width: 225px;
  z-index: 154;
}

.cover-mouth {
  width: 260px;
  margin-top: -20px;
}

.cover-cough {
  width: 240px;
  margin-top: -25px;
}

.sanitize {
  width: 230px;
  margin-top: -10px;
}

.monitor-health {
  width: 300px;
  margin-top: 40px;
}

/*VOLUNTEER PAGE*/

.banner-heading {
  height: 150px;
  background-color: #24222a;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

#help-hands-img {
  width: 400px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.volunteer-pg-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.volunteer-box {
  border-radius: 10px;
  width: 700px;
  height: 800px;
  margin-top: 35px;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e3e8;
}

.modal_content {
  background-color: white;
  top: 100%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-top: 320px;
  margin-right: -200px;
  margin-left: -340px;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 150px;
  overflow: scroll;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

.locations-button {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 130px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 43.5%;
  zoom: 1.5;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 560px) {
  body {
    background-color: whitesmoke;
  }
  /* NavBar */
 

  .menu {
    position: relative;
    left: 1px;
  }

  .menu-items {
    position: absolute;
    right: 15px;
  }

  .dropdown {
    width: auto;
    margin-left: 10px;
  }
  /* .logo-image {
    margin-left: auto;
  } */

  /* Volunteer Page */
  .volunteer-box {
    /* position: fixed; */
    margin-top: 20px;
    margin-left: -5px;
    width: 140%;
  }

  .locations-button {
    /* position: fixed; */
    margin-top: 23px;
    margin-bottom: -200px;
    margin-left: -70px;
  }

  .volunteer-locations {
    display: flex;
  }

  .volunteer-box {
    width: 100%;
  }

  .volunteer-heading {
    /* position: fixed; */
    margin-top: -37px;
    font-size: 32px;
  }

  .modal_content {
    margin-left: -170px;
  }

  .popBox {
    margin-left: auto;
  }

  /* Home Page */
  .home-page-container {
    display: flex;
    flex-direction: column;

  }

  .hand-holding-heart {
    margin-left: 70px;
  }
  #button {
    margin-left: 150px;
  }

  /* Stay Safe Page */
  .treatment {
    width: 80%;
    height: 100%;
  }

  section {
    width: auto;
  }

  .stay-safe-container {
    display: grid;
    width: 50px;
    grid-template-columns: 1fr;
  }

  /*Track-Covid Page */
  .world-img {
    width: 370px;
  }
  .track-container {
    width: 100%;
    margin-top: 330px;
    margin-bottom: 200px;
  }
  .covid-tracker {
    width: 88%;
  }
}
