

/*MEDIA QUERIES*/

@media only screen and (max-width: 560px) {
  body {
    background-color: whitesmoke;
  }
  /* NavBar */
  .menu {
    position: relative;
    right: 100px;
  }

  .menu-items {
    position: absolute;
    right: 15px;
  }

  .navigation-button {
    margin-left: 190px;
  }
  .dropdown {
    width: auto;
    margin-left: 10px;
  }
  .logo-image {
    margin-left: auto;
  }

  /* Volunteer Page */
  .volunteer-box {
    /* position: fixed; */
    margin-top: 20px;
    margin-left: -5px;
  }

  .locations-button {
    /* position: fixed; */
    margin-top: 23px;
    margin-bottom: -200px;
    margin-left: -70px;
  }

  .volunteer-locations {
    display: flex;
  }

  .volunteer-box {
    width: 100%;
  }

  .volunteer-heading {
    /* position: fixed; */
    margin-top: -37px;
    font-size: 32px;
  }

  .modal_content {
    margin-left: -170px;
  }

  .popBox {
    margin-left: auto;
  }

  /* Home Page */
  .home-page-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 1500px;
  }

  .hand-holding-heart {
    margin-left: 70px;
  }
  #button {
    margin-left: 150px;
  }

  /* Stay Safe Page */
  .treatment {
    width: 80%;
    height: 100%;
  }

  section {
    width: auto;
  }

  .stay-safe-container {
    display: grid;
    width: 50px;
    grid-template-columns: 1fr;
  }

  /*Track-Covid Page */
  .world-img {
    width: 370px;
  }
  .track-container {
    width: 100%;
    margin-top: 330px;
    margin-bottom: 200px;
  }
  .covid-tracker {
    width: 88%;
  }
}
